.dMenu {
  background: #ececed;
}
.hoverSubCat:hover {
  background-color: white;
}
.hoverSubCat {
  min-width: 16em;
}
.catLink {
  padding: 10px 5px;
  text-decoration: none;
  color: black;
}


/* .CatTitle::after{
    content: "";
    background: url(https://www.jiomart.com/assets/version1620668133/smartweb/images/icons/chevron-down.svg) center no-repeat;
    width:20px;
    height: 14px;
    display: inline-block;
    
}


.CatTitle:hover::after{
  transform: rotate(180deg);
}
 */


.dropDownContainer::after{
    content: "";
    background: url(https://www.jiomart.com/assets/version1620668133/smartweb/images/icons/chevron-down.svg) center no-repeat;
    width:16px;
    height: 14px;
    display: inline-block;
    
}
.dropDownContainer:hover::after{
  transform: rotate(180deg);
}
