.logo-div img {
  width: 25px;
  height: 25px;
  margin-top: 8%;
  margin-left: 95%;
}
.image-div {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100vw */
}

.image-div img {
  width: 92%;
  height: auto;
  padding: 7%;
}
.btn-div {
  width: 30%;
  padding-top: 20px;
}

@media only screen and (max-width: 600px) {
  .btn-div {
    width: 20%;
  }
}
.content-div {
  margin-top: 4%;
  margin-left: 5%;
}
.mrp-div {
  display: flex;
  flex-direction: row;
  font-family: jioBold;
  font-size: 20px;
}


.taxes-text {
  margin-left: 20px;
  font-family: jioLight;
}

.wishlist {
  width: 24px;
  height: 24px;
  background: url('https://www.jiomart.com/assets/version162335126993/smartweb/images/icons/favourite.svg');
  display: inline-block;
  cursor: pointer;
  border: none;
  margin-left: 80px;
  padding: 6px;
}

.title-div {
  font-size: 20px;
  line-height: 22px;
  font-family: jioBold;
  font-weight: 700;
  display: inline-block;
}
.stock-green {
  color: #00a651;
  margin-bottom: 8px;
  font-size: 16px;
  margin-top: 15px;
}
.soldby-div {
  display: flex;
  flex-direction: row;
}
.soldby-div h6 {
  color: #008ecc;
  margin-left: 1%;
}
.soldby-div span {
  color: black;
  font-size: 14px;
  font-weight: 400;
}

.shipping-div span {
  font-size: 16px;
  font-weight: 400;
}
.shipping-div h6 {
  font-size: 16px;
  margin-left: 1%;
  margin-top: 0.5%;
}
.addtocart-div {
  width: 23%;
  background-color: #008ecc;
  height: 32px;
  line-height: 30px;
  font-size: 14px;
  border-radius: 4px;
  border: 0px;
  cursor: pointer;
  color: white;
  display: flex;
  width: 150px;
  margin-top: 2%;
}
.plus-symbol {
  width: 30px;
  margin-left: 20%;
  font-size: 25px;
  background-color: #28b0eb;
  border-radius: 50%;
  margin-top: 0%;
  align-items: center;
}
.three-logos {
  margin-top: 2%;
  height: 30px;
  width: 300px;
  display: flex;
}
.three-logos img {
  margin-left: 1%;
}
.three-logos p {
  margin-top: 0px;
  font-size: 12px;
  margin-left: 1%;
  font-weight: 400;
}
.delivery-div {
  margin-top: 3%;
  width: 350px;
  border-bottom: 0.5px solid lightgray;
}

.delivery-div h5 {
  font-size: 16px;
  line-height: 20px;
}
.delivery-div input {
  border: none;
}
.delivery-div input:focus {
  width: 200px;
  outline: none;
  border: none;
}

.delivery-div button {
  border: none;
  width: 100px;
  color: red;
  letter-spacing: 1px;
  font-weight: 500;
  background-color: whitesmoke;
  margin-left: 1%;
}
.offers-div {
  margin-top: 5%;
}
.offers-div h5 {
  font-size: 18px;
}
.offers-div h6 {
  font-size: 16px;
  margin-left: 3%;
  padding: 5px;
}

.product-detail-section h3 {
  font-family: jioBold;
  font-size: 16px;
}
.product-detail-section {
  padding: 3vw;
}
.description-div {
  padding-top: 12px;
  padding-bottom: 12px;
}

.box-div {
  display: flex;
  flex-direction: row;

  align-items: center;
}

table td {
  border: 0.1rem solid #d6d3d3;
  padding: 0.4em;
}
.box-div table {
  padding: 3%;
  width: 47%;
}

.box-div table:nth-of-type(2) {
  margin-left: 7vw;
}

tr > td:nth-of-type(1) {
  font-family: jioBold;
  max-width: 70px;
  background-color: #e7e7e7;
}
